@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --color-azul-fuerte:rgba(7, 8, 38, 1);
    --color-azul-claro:rgba(1, 21, 82, 1);
    --color-azul-celeste:rgba(100, 131, 159, 1);
    --color-rojo-claro:rgba(180, 0, 1, 1);
    --color-rojo-fuerte:rgba(102, 4, 5, 1);
    --fuente-principal:"Open Sans", sans-serif;
    --fuente-segundaria:"Montserrat", sans-serif;
}
.navbar{
    background-color: var(--color-azul-fuerte);
}

.navbar a{
    color: white;
    font-family: var(--fuente-segundaria);
}